@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #485461;
    background: linear-gradient(315deg, #485461 0%, #28313b 74%);
}


html {
    scroll-behavior: smooth;
  }


.container {
    max-width: 90%;
    margin: 0px auto;
    color: white;
}

.section {
   width: 100%;
   height:700px;
   animation-name: smoothSection;
   animation-duration: .5s;
   animation-delay: 10ms;
}

.navbar {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 60px;
    padding: 0px 10px;
}

.menu > a { 
    color:white;
    margin-left: 30px;
    text-decoration: none;
}

.menu > a:first-child {
    margin-left: 0px;
}


.menu > a:hover {
   color: yellow;
   text-decoration:underline;
}

.main-info {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgb(139, 139, 139);
    border-bottom-left-radius: 30%;
    border-right: 1px solid rgb(123, 123, 123);
    border-top-right-radius:90%;
    border-top-left-radius:10px;
}


.main-name-text {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.main-text {
    border-right: 1px solid gray;
    border-radius: 100%;
}

.notebook {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.notebook > img {
    width: 210px;
    width: 210px;
    border-left: 1px solid white;
    border-radius: 100%;
}

.main-aboutme-text {
    display: block;
    text-align: center;
    width: 600px;
    
}

.contact-btn {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.contact-btn > button {
    width: 150px;
    height: 40px;
    background: none;
    border: 2px solid white;
    color: white;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.contact-btn > button:hover {
    border-radius: 5px;
    transition: .5s;
    border: 2px solid yellow;
    color: yellow;
}

.img-me {
   width: 450px;
   margin-left: 50px;
   height: 500px;
}

.skill-icon {
    width: 450px;
    height: 250px;
    margin: 0px auto;
    border-left: 1px solid rgb(204, 240, 76);
    border-right: 1px solid rgb(87, 112, 227);
    border-radius: 30%;
}

.skills {
    display: flex;
    justify-content: center;
}
.skills-text > span {
    font-weight: bold;
}

.skills-text {
    width: 450px;
    text-align: center;
    margin-top: 50px;
}

.stack-skills {
    display: flex;
    justify-content: center;
    border-radius: 70%;
    border-bottom: 1px solid rgb(110, 110, 92);
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.college {
    margin-top: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
}

.education-text > img {
    width: 180px;
    height: 180px;
}

hr {
    width: 400px;
    transform: rotate(90deg);
    margin: 0px;
}

.education-text {
    width: 500px;
    text-align: center;
    border-bottom: 1px solid rgb(87, 131, 235);
    border-radius:100%;
}

.education-text[name = 'last'] {
    border-bottom: 1px solid rgb(244, 249, 102);
}

.education-text > p {
    margin-top: 50px;
}

.education-text > p > a:first-child {
    color: orange;
}

.education-text > p > a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}


.education-more {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.education-more-block > p {
    width: 400px;
    text-align: center;
    font-style: italic;
}
.education-more-block > p > span {
    color: rgb(143, 219, 185);
}

.education-more-block > img {
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 170px;
}

.scroll-up {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 80px;
}

.scroll-up > button {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    cursor: pointer;
    background-color: #28313b;
    border: none;
    font-size: 28px;
    font-weight: bold;
    color: white;
    opacity: .6;
}

.scroll-up > button:hover {
    background-color: white;
    color: black;
    opacity: .9;
    transition: .5s;
    
}

.projects-main-text {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

 

.github-btn {
    padding: 15px 60px;
    font-size: 22px;
    color: white;
    cursor: pointer;
    background: none;
    border: 2px solid rgb(87, 195, 225);
    text-decoration: none;
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.github-btn:hover {
    background: white;
    color: black;
    border-radius: 10px;
    transition: .5s;
}

.projects-list {
    width: 500px;
   margin: 0px auto;
   text-align: center;
}

#projects {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-list-main {
    font-size: 22px;
    margin-top: 40px;
}

.projects-list-text {
    margin-top: 50px;
}

.contacts {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    margin-left: 10px;
    padding: 15px 60px;
    border: 2px solid gray;
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
.social:hover {
    border-radius: 10px;
    background: white;
    color: black;
    transition: .5s;
}

  #twitter  {
    border: 2px solid rgb(0, 242, 255);
}

#linkedin  {
    border: 2px solid rgb(73, 114, 161);
}
#instagram  {
    border: 2px solid rgb(230, 170, 230);
}
#telegram  {
    border: 2px solid rgb(20, 126, 247);
}

#whatsapp  {
    border: 2px solid rgb(36, 255, 17);
}

@keyframes smoothSection {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.9;
    }
}